<!DOCTYPE html>
<html>
<head>
    <title>All Expenses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Expenses</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>
    {% for exp in expenses %}
    <tr>
        <td>{{ exp[0] }}</td>
        <td>{{ exp[1] }}</td>
        <td>{{ exp[2] }}</td>
        <td>{{ exp[3] }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('add_expense') }}">Add another expense</a>

    </div>
</body>
</html>

